:root {
    --couleurFond: #D4C9AA;
    --couleurBlocs: #A56354;
    --couleurTexte: #D47454;
    --couleurTitres: #5C342D;
    --couleurLiens: #F4BE94;
    --couleurHover: #6A3424;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: var(--couleurTexte);
    display: flex;
    flex-direction: column;
    background-color: var(--couleurFond);
}

header {
    height: 100px;
    display: flex;
    background-color: var(--couleurBlocs);
}

#logo {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}

#logo a {
    margin-left: 50px;
}

#menu {
    height: 100%;
    width: 50%;
}

#menu nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu ul {
    display: flex;
    list-style-type: none;
}

#menu li {
    margin-left: 20px;
}

#menu a {
    text-decoration: none;
    color: var(--couleurLiens);
}

#liens_reseaux {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#liens_reseaux a {
    margin-right: 50px;
}

main {
    flex: 1;
}

#profil {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profil img {
    height: 300px;
    border-radius: 50%;
}

h1 {
    color: var(--couleurTitres);
}

#articles_cv {
    display: flex;
    justify-content: center;
    background-color: red;
}

#articles {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blue;
}

#cv {
    width: 25%;
    background-color: green;
}



footer {
    height: 150px;
    background-color: var(--couleurBlocs);
}