{% extends 'partials/layout.html.twig' %}

{% block content %}

    <h2>Politique de Cookies</h2>

    <p>Ce site utilise des cookies pour améliorer l'expérience de l'utilisateur. En continuant à naviguer sur ce site, vous consentez à l'utilisation de cookies conformément à cette politique.</p>

    <h3>Qu'est-ce qu'un cookie ?</h3>
    <p>Un cookie est un petit fichier texte qui est stocké sur votre ordinateur ou appareil mobile par le navigateur lorsque vous visitez un site web. Les cookies permettent au site de se souvenir de vos actions et préférences (telles que la connexion, la langue, la taille de la police et d'autres préférences d'affichage) sur une période donnée, vous évitant ainsi de devoir les saisir à chaque fois que vous revenez sur le site ou que vous naviguez d'une page à l'autre.</p>

    <h3>Comment utilisons-nous les cookies ?</h3>
    <p>Nous utilisons des cookies pour :</p>
    <ul>
        <li>Personnaliser votre expérience sur notre site</li>
        <li>Analyser notre trafic</li>
        <li>Partager des informations avec nos partenaires de confiance pour des analyses, publicités et fonctionnalités supplémentaires</li>
    </ul>

    <h3>Contrôle des cookies</h3>
    <p>Vous pouvez contrôler et/ou supprimer les cookies selon vos souhaits. Vous pouvez supprimer tous les cookies déjà présents sur votre ordinateur et vous pouvez configurer la plupart des navigateurs pour les bloquer. Cependant, si vous le faites, vous devrez peut-être ajuster manuellement certaines préférences à chaque visite sur un site, et certaines fonctionnalités et services peuvent ne pas fonctionner.</p>

    <h3>Consentement</h3>
    <p>En utilisant notre site, vous consentez à notre utilisation des cookies conformément à cette politique.</p>

    <h3>Contact</h3>
    <p>Si vous avez des questions concernant notre politique de cookies, vous pouvez nous contacter à delattre.thibault8@gmail.com.</p>

    <h4>Date de la dernière mise à jour :</h4>
    <p>01/02/2024</p>

    {% endblock %}
    