{% extends 'partials/layout.html.twig' %}

{% block content %}
<img id="img404" src="images/404img.jpg" alt="Photo d'une machine à écrire avec papier froissé." >
<h2>404 Not Found</h2>
<p>La page que vous recherchez n'existe pas.</p>

{% endblock %}
