{% extends 'partials/layout.html.twig' %}

{% block content %}

    <section id="home_articles">
        <div class="left-container">
            {% for article in latestArticles %}
                <a class="link_article" href="index.php?action=show-article&id={{ article.getId() }}">
                    <article class="home_article posted_article">
                        <h2>{{ article.getTitre() }}</h2>
                        <p>{{ article.getChapo() }}</p>
                    </article>
                </a>
            {% endfor %}
            <a class="link_article" href="images/cv.pdf" target="_blank">
                <article class="home_article posted_article">
                    <h2>Curriculum vitæ</h2>
                    <img src="images/imgcv.jpg" alt="Image illustrant un CV.">
                    <p>Vous pouvez consulter mon curriculum vitæ en cliquant ici.</p>
                </article>
            </a>
        </div>
        <div class="right-container">
            <article class="home_article">
                <h2>Delattre Thibault</h2>
                <img src="images/1697044074517.jpg" alt="Photo de Thibault Delattre.">
                <h3>"Explorons ensemble mon parcours en PHP sur Mon Petit Journal. CV, réseaux sociaux, articles. Let's connect !"</h3>
            </article>
            <hr>
            <article class="home_article">
                <h2>Votre Espace pour Partager, Écrire et Échanger</h2>
                <p>
                Découvrez Mon Petit Journal ! Inscrivez-vous pour intéragir sur mes articles, partager vos connaissances, et participer activement en commentant. Rejoignez-moi dans cette aventure collaborative où chaque membre contribue à faire de Mon Petit Journal un lieu dynamique d'échanges et d'inspiration.
                </p>
            </article>      
        </div>
    </section>
    <section id="contact">
        <h2>Contactez-moi</h2>
        <form action="index.php?action=contact" method="post">
            <div id="identite">
                <div id="nom_prenom">
                    <label for="nom"></label>
                    <input id="nom" type="text" name="nom" autocomplete="off" placeholder="Nom" required>

                    <label for="prenom"></label>
                    <input type="text" name="prenom" autocomplete="off" placeholder="Prénom" required>
                </div>

                <label for="email"></label>
                <input type="email" name="email" autocomplete="off" placeholder="E-mail" required>
            </div>

            <label for="objet"></label>
            <input type="text" name="objet" autocomplete="off" placeholder="Objet" required>

            <label for="message"></label>
            <textarea name="message" placeholder="Message" required></textarea>

            <input class="bouton" type="submit" value="Envoyer">
        </form>
    </section>
    
{% endblock %}
