{% extends 'partials/layout.html.twig' %}

{% block content %}

    <h2>Mentions Légales</h2>

    <h3>Responsable de la publication</h3>
    <p>Nom et prénom : Delattre Thibault</p>
    <p>Adresse : 17 rue du Général de Gaulle, 80610 Saint Ouen, France</p>
    <p>Email : delattre.thibault8@gmail.com</p>

    <h3>Hébergeur</h3>
    <p>Nom de l'hébergeur : o2switch</p>
    <p>Adresse : Chemin des Pardiaux 63000 Clermont-Ferrand</p>
    <p>Contact : support@o2switch.fr</p>

    <h3>Propriété intellectuelle</h3>
    <p>Ce site et son contenu sont la propriété exclusive de Delattre Thibault. Toute reproduction ou utilisation non autorisée est interdite.</p>

    <h3>Données personnelles</h3>
    <p>Ce site peut collecter des données personnelles dans le cadre de son fonctionnement. Pour plus d'informations, veuillez consulter notre Politique de Confidentialité.</p>

    <h3>Cookies</h3>
    <p>Ce site utilise des cookies pour améliorer l'expérience de l'utilisateur. En naviguant sur ce site, vous acceptez l'utilisation de cookies.</p>

    <h3>Contact</h3>
    <p>Pour toute question ou réclamation concernant ce site, veuillez contacter Delattre Thibault à l'adresse email delattre.thibault8@gmail.com.</p>

    <h4>Date de la dernière mise à jour :</h4>
    <p>01/02/2024</p>

{% endblock %}
