{% extends 'partials/layout.html.twig' %}

{% block content %}

    <h2>Politique de Confidentialité</h2>

    <p>Cette politique de confidentialité décrit comment Thibault Delattre recueille, utilise et protège les informations que vous fournissez lors de l'utilisation de ce site web.</p>

    <h3>Collecte d'informations</h3>
    <p>Nous recueillons des informations lorsque vous vous inscrivez sur notre site, vous vous connectez à votre compte, remplissez un formulaire ou communiquez avec nous d'une autre manière.</p>

    <h3>Utilisation des informations</h3>
    <p>Les informations que nous recueillons peuvent être utilisées pour :</p>
    <ul>
        <li>Personnaliser votre expérience et répondre à vos besoins individuels</li>
        <li>Améliorer notre site web</li>
        <li>Améliorer le service client et vos besoins de prise en charge</li>
        <li>Contacter par e-mail</li>
    </ul>

    <h3>Protection des informations</h3>
    <p>Nous mettons en œuvre une variété de mesures de sécurité pour protéger la sécurité de vos informations personnelles.</p>

    <h3>Divulgation à des tiers</h3>
    <p>Nous ne vendons, n'échangeons ni ne transférons vos informations personnelles identifiables à des tiers.</p>

    <h3>Cookies</h3>
    <p>Notre site utilise des cookies pour améliorer l'expérience de l'utilisateur. En utilisant notre site, vous consentez à notre politique de confidentialité.</p>

    <h3>Consentement</h3>
    <p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>

    <h3>Contact</h3>
    <p>Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter à delattre.thibault8@gmail.com.</p>

    <h4>Date de la dernière mise à jour :</h4>
    <p>01/02/2024</p>

    {% endblock %}
    