{% include 'partials/header.php' %}

<main>
    <section>
        <h2>Inscription réussie !</h2>
        
        <p><strong>Nom :</strong> {{ user.nom }}</p>
        <p><strong>Prénom :</strong> {{ user.prenom }}</p>
        <p><strong>Email :</strong> {{ user.email }}</p>


        <p>Vous pouvez vous connecter en cliquant <a href="index.php?action=login">ici</a></p>
    </section>
</main>

{% include 'partials/footer.php' %}
