{% extends 'partials/layout.html.twig' %}

{% block content %}

    <section class="page-section">
        <h2 class="title-page">Inscription réussie !</h2>
        
        <p><strong>Nom :</strong> {{ user.nom }}</p>
        <p><strong>Prénom :</strong> {{ user.prenom }}</p>
        <p><strong>Email :</strong> {{ user.email }}</p><br>


        <p>Vous pouvez vous connecter en cliquant <a href="index.php?action=login">ici</a></p>
    </section>

{% endblock %}
