<div id="liens_footer">
    <a href="index.php?action=legals">Mentions Légales</a>
    <a href="index.php?action=privacy-policy">Politique de confidentialité</a>
    <a href="index.php?action=cookies-policy">Politique de cookies</a>
    <a href="index.php?action=admin">Administration</a>
</div>
<p>&copy; <span id="currentYear"></span> Delattre Thibault. Tous droits réservés.</p>