<!DOCTYPE html>
<html lang="fr">

{% include 'partials/flash-message.html.twig' %} <!-- inclusion du fichier flash-message.html.twig -->

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon petit journal</title>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon.png">
    {% endblock %}
</head>

<body>
    <header>
        {% include 'partials/header.html.twig' %}
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% include 'partials/footer.html.twig' %}
    </footer>

<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>

</body>

</html>