{% extends 'partials/layout.html.twig' %}

{% block content %}

    <section id="content_page_submited_article">
        <h2>L'article "{{ article.titre }}" a été créé !</h2>
        <p>Merci pour votre article ! Il est actuellement en cours de validation par notre équipe. Nous vous informerons dès qu'il sera approuvé et publié sur le blog. Merci de votre compréhension !</p>
    </section>

{% endblock %}
